.home-category {
    margin: 60px 0;
}




/* CARD */
.product-card {
    border: 1px solid #eee;
    padding: 15px;
    transition: all 0.3s ease;
    background: #fff;
}

.product-card:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.product-thumb img {
    width: 100%;
    height: auto;
}

.product-title {
    font-size: 16px;
    margin: 10px 0;
}

.product-title a {
    text-decoration: none;
    color: #222;
}

.price {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

/* BUTTON */
.btn-add-cart {
    display: inline-block;
    padding: 8px 14px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.product-card .button,
.product-card .btn-add-cart {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#variant-popup select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

#variant-popup .single_add_to_cart_button {
    background-color: #2563eb;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

